#cabecalho{
    background-color: #10502f;
    font-size: larger;
    color: white;
}

a{
    color: white;
}

li{
    list-style-type: none;
    color: white;
}

div.jogo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

div.data{
    display: flex;
    align-content: space-around;
}

div.times {
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav.nav{
    color: white;
}
